:root {
  font-family: "Poppins",  Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0; /* Reset default margins */
  overflow: hidden; /* Prevent scrollbars when container takes full viewport */
}
.card {
  min-width: 450px;
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 10px;
  position: relative;
  padding-bottom: 3rem;
}


.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.5rem;
  background-color: #1a1a1a;
  border-radius: 10px 10px 0 0 ;
}

.main {
  padding: 1.5rem 2.5rem;

  background-image: url(./assets/react-grey.svg);
  background-repeat: no-repeat;
  background-size: 16rem;
  background-position-x: 120%;
  background-position-y: 20%;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.facts-list li {
  list-style-type: disc;
  line-height: 20px;
  margin: 0 1rem; /* existing margin */
  margin-bottom: 0.5rem; /* add bottom margin */
}

.facts-list li::marker {
  color: rgba(10, 240, 240, 0.897);
  font-size: 1.6em; /* Adjust size as needed */
  vertical-align: bottom; /* Align bullet with text baseline */
}

.nav-item:hover {
  color: rgba(10, 240, 240, 0.897);
}

.footer {
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: calc(100% - 2rem - 2px);
  background-color: #080808;
  padding: 0.5rem 1rem;
  border-radius: 0 0 10px 10px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-text {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  font-weight: bold;
  color: rgba(10, 240, 240, 0.897);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
