::before,
::after,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
}

#root {
    width: 100%;
}

.card {
    width: 600px;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0 0.1);
    margin: auto;
}

/* Header Style */
header {
    border-radius: 20px;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;

    margin-bottom: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

header .logo-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

header .logo-text {
    font-size: 1.5em;
    font-weight: bold;

}

/* Main Style */
main {
    width: 100%;
    padding: 1rem;
}

.ingredient-form {
    display: flex;
    align-items: center;
}

.ingredient-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 10px 10px 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    background-color: #ddd;
    color: #333;
}

.ingredient-form button::before {
    content: "+";
    margin-right: 6px;
}

li::before {
    width: 8px;
    height: 8px;
    content: "";
    display: inline-block;
    background-color: #333;
    border-radius: 50%;
    margin-right: 10px;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
}

.counter {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000;
    color: #fff;
    font-size: 2em;
    position: relative;
    left: 50%;
}

.counter .circle {
    width: 20px;
    height: 20px;
    border-radius: 75%;
    background-color: #333;
    color: #fff;
    position: absolute;
    font-size: .9em;
}